# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
venv/

# Packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# pytest cache
.pytest_cache/

# System
.DS_Store

#system config
mcp-servers/
.env
.mcp.json